@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .border-gradient {
    background-clip: border;
    -webkit-border-fill-color: transparent;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.wrapper {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

/* .wrapper h2{
  margin: 0;
  padding:  0;

} */

span::before {
  content: "";
  animation: animate infinite 6s;
}

@keyframes animate {
  0% {
    content: "MSMEs ";
  }
  20% {
    content: "Dropshippers";
  }
  40% {
    content: " Retailers";
  }
  60% {
    content: "Brands";
  }
  80% {
    content: " Wholesalers";
  }
  100% {
    content: "Manufacturers ";
  }
}

.active {
  color: #000;
}
